{% load crispy_forms_tags %}
<div class="card col-md-8 mx-auto">
  <article class="card-body">
    <a href="" class="float-right btn btn-outline-primary">Sign up</a>
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
    <form method="POST" action="{%if action_url%}{{action_url}}{%else%}{%url 'login'%}{%endif%}">
      {%csrf_token%}
      {%if next_url %}
      <input type="hidden" name='next' value="{{next_url}}"/>
      {%endif%}
      {{ form | crispy }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
      <!-- form-group// -->
    </form>
  </article>
</div>
